@model Video_Production.Models.Production

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div class="item">
    <img src="~/images/airplaneBanner.jpg" alt="Microsoft Azure" class="img-responsive" width="1130" />
</div>

<div>
    <h4>Production</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crew.CrewName)
        </dt>

        <span class="myPopover" title=""
        data-content="<div><h5><strong>Crew Name</strong></h5>@Model.Crew.CrewName
        <h5><strong>Producer</strong></h5>@Model.Crew.Producer
        <h5><strong>Director</strong></h5>@Model.Crew.Director
        <h5><strong>Scriptwriter</strong></h5>@Model.Crew.ScriptWriter
        <h5><strong>DP</strong></h5>@Model.Crew.DP
        <h5><strong>Camera Operator</strong></h5>@Model.Crew.CameraOp</div>"</span>

        <dd>
            @Html.DisplayFor(model => model.Crew.CrewName)
        </dd>


    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
