@model Video_Production.Models.Crew

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Crew</h4>
    <hr />
    <div class="popoverContent">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CrewName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrewName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScriptWriter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScriptWriter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CameraOp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CameraOp)
        </dd>
    </dl>
        </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
